.button {
  font-size: 24px;
  font-family: sans-serif;
  color: #ffffff;
  background-color: #404040;
  border: 2px solid #808080;
  border-radius: 6px;
  min-height: 60px;
  min-width: 60px;
  padding: 6px 6px;
  margin: 2px 2px
}
.buttonPressed {
  font-size: 24px;
  font-family: sans-serif;
  color: #ffff80;
  background-color: #202020;
  border: 2px solid #808080;
  border-radius: 6px;
  min-height: 60px;
  min-width: 60px;
  padding: 6px 6px;
  margin: 2px 2px
}
.body {
  font-family: sans-serif;
  color: #ffffff;
  background-color: #000000;
  text-size-adjust: none;
}
.headline {
  font-size: 36px;
}
.list {
  margin-top: 12px;
  margin-bottom: 12px;
  padding-left: 30px;
}
.listItem {
  font-size: 30px;
  margin-bottom: 6px;
}
.sum {
  font-size: 36px;
  color: #ffff80;
}
.footer {
  font-size: 24px;
  margin-top: 24px;
}
