.button {
  font-size: 16px;
  font-family: sans-serif;
  color: #ffffff;
  background-color: #202020;
  border: 1px solid #404040;
  border-radius: 4px;
  min-height: 40px;
  min-width: 40px;
  padding: 4px 4px;
  margin: 1px 1px
}
.buttonPressed {
  font-size: 16px;
  font-family: sans-serif;
  color: #ffff80;
  background-color: #101010;
  border: 1px solid #404040;
  border-radius: 4px;
  min-height: 40px;
  min-width: 40px;
  padding: 4px 4px;
  margin: 1px 1px
}
.text {
  font-family: sans-serif;
  color: #ffffff;
  background-color: #000000;
  text-size-adjust: none;
}
.listItem {
  font-size: 16px;
  margin-top: 4px
}
.headline {
  font-size: 24px;
}
.sum {
  font-size: 20px;
  color: #ffff80;
}
.footer {
  font-size: 16px;
  text-align: right;
}
