.button {
  font-size: 14px;
  font-family: sans-serif;
  color: #ffffff;
  background-color: #404040;
  border: 1px solid #808080;
  border-radius: 4px;
  min-height: 30px;
  min-width: 30px;
  padding: 3px 3px;
  margin: 1px 1px
}
.buttonPressed {
  font-size: 14px;
  font-family: sans-serif;
  color: #ffff80;
  background-color: #202020;
  border: 1px solid #808080;
  border-radius: 3px;
  min-height: 30px;
  min-width: 30px;
  padding: 3px 3px;
  margin: 1px 1px
}
.body {
  font-family: sans-serif;
  color: #ffffff;
  background-color: #000000;
  text-size-adjust: none;
}
.headline {
  font-size: 18px;
}
.list {
  margin-top: 4px;
  margin-bottom: 4px;
  padding-left: 16px;
}
.listItem {
  font-size: 16px;
  margin-bottom: 4px;
}
.sum {
  font-size: 18px;
  color: #ffff80;
}
.footer {
  font-size: 12px;
  margin-top: 12px;
}
